body{
    background: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.bordaDiv{
    border-style: solid;
    border-width: medium;
    border-color: white;
    width: 50%;
}

.centroImg{
    display: block;
    margin-left: 20%;
    margin-right: 20%;
}

h4.centro{
    text-align: center;
     color: rgb(106, 164, 218);
}

.h1CentroCor{
    color: rgb(106, 164, 218);
    text-align: center;
}
